/* color */
.dark-cyan {
    color: hsl(158, 36%, 37%);
}

.cream {
    color: hsl(30, 38%, 92%);
}

.dark-blue {
    color: hsl(212, 21%, 14%);
}

.grayish-blue {
    color: hsl(228, 12%, 48%);
}

.white {
    color: hsl(0, 0%, 100%);
}

/* background color */
.bg-dark-cyan {
    background-color: hsl(158, 36%, 37%);
}

.bg-cream {
    background-color: hsl(30, 38%, 92%);
}

.bg-dark-blue {
    background-color: hsl(212, 21%, 14%);
}

.bg-grayish-blue {
    background-color: hsl(228, 12%, 48%);
}

.bg-white {
    background-color: hsl(0, 0%, 100%);
}

/* font */
.f-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.f-fraunces {
    font-family: 'Fraunces', serif;
}

/* body */
.product-page {
    height: 94vh;
    font-size: 14px;
    font-weight: 500;
}

/* card */
.card {
    border: 0;
}

.card-logo {
    letter-spacing: 4px;
    text-transform: uppercase;
}

.card-title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}

.card-text {
    line-height: 1.8;
}

.special-offer {
    font-size: 34px;
    font-weight: 700;
}

.price {
    text-decoration: line-through hsla(228, 12%, 48%, 0.7);
}

.btn {
    font-weight: 700;
    width: 100%;
}

.btn:hover {
    background-color: hsl(158, 38%, 17%);
    color: white;
}

/* footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* monile */
@media screen and (max-width:767px) {
    .product-page {
        height: 100%;
    }
    .product-img {
        content: url(images/image-product-mobile.jpg);
        border-top-right-radius: 0.375rem;
        border-bottom-left-radius: 0!important;
    }
    .main {
        display: block;
    }
    .card {
        margin: 20px;
    }
}